/* === start of variable === */
$text-primary: white;
$border-primary: rgba(255, 255, 255, 0.2);
/* === end of variable === */
/* === start of section === */
.bg-night {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    & {
        position: relative;
        color: $text-primary;
        background: rgba($color: $text-primary, $alpha: 0.1);
        padding: 3rem 2rem;
        border-radius: 1rem;
    }

    .lamp {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: $text-primary;
        padding: 0.25rem 15rem;
    }

    .input-box input {
        width: 100%;
        color: $text-primary;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $text-primary;
    }

    .input-box input:focus {
        color: $text-primary;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $text-primary;
        outline: none;
    }

    .input-box label {
        text-align: start;
        transition: 0.5s;
        transform: translate(0rem, -2.5rem);
        margin-top: 0.5rem;
    }

    .input-box input:focus + label, .input-box input:valid + label, .input-box input:user-invalid + label {
        transition: 0.5s;
        transform: translate(0rem, -3.7rem);
    }

    .input-box i {
        transition: 0.5s;
        position: absolute;
        right: 2rem;
    }

    .input-box:hover i {
        transition: 0.5s;
        transform: scale(120%);
    }

    a {
        color: $text-primary;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .btn {
        width: 100%;
        margin: 1rem 0rem;
    }

    .btn:hover {
        background-color: $text-primary;
        box-shadow: 0rem 0rem 1rem $text-primary;
    }

    .btn-back {
        position: absolute;
        right: -4rem;
        top: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: rgba($color: $text-primary, $alpha: 0.1);
    }

    .btn-line {
        height: 100%;
        width: 40%;
        padding: 2.5rem 0.25rem;
        background-color: black;
    }

    .button-sm {
        position: absolute;
        top: 0.4rem;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0.4rem 0.3rem;
        border: none;
        border-radius: 0.25rem;
        outline: none;
        color: $text-primary;
        background-color: rgb(64, 64, 64);
    }
}

/* === end of section === */
/* === start of function === */

/* === end of function === */
