/* === start of variable === */
$text-primary: white;
$border-primary: rgba(255, 255, 255, 0.2);
$neon-primary: #00f7ff;
/* === end of variable === */
/* === start of section === */
.bg-night {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    & {
        position: relative;
        color: $text-primary;
        background: rgba($color: $text-primary, $alpha: 0.1);
        padding: 4rem 3rem;
        border-radius: 1rem;
    }

    .lamp {
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: $neon-primary;
        padding: 0.25rem 15rem;
    }

    .lamp::before {
        content: " ";
        position: absolute;
        top: -80rem;
        transform: translate(-50%, 0);
        width: 100%;
        height: 70rem;
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.3) -50%,
            rgba(255, 255, 255, 0) 90%
        );
        clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
        pointer-events: none;
        transition: 0.5s ease;
    }

    .input-check:checked ~ .lamp::before {
        top: 0rem;
    }

    .toggle {
        position: absolute;
        top: 2rem;
        right: -5rem;
        width: 4rem;
        height: 8rem;
        background-color: #191919;
        border-radius: 0.5rem;
    }

    .toggle::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.5rem;
        height: 6rem;
        background-color: black;
    }

    .toggle::after {
        content: " ";
        position: absolute;
        top: 0.5rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 2.8rem;
        height: 2.8rem;
        background-color: #333333;
        border: 2px solid #191919;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.5);
        transition: 0.5s ease;
    }

    .toggle .text {
        position: absolute;
        top: 1.1rem;
        left: 50%;
        transform: translate(-50%, 0);
        color: $text-primary;
        font-size: 1rem;
        z-index: 1;
        transition: 0.5s;
        cursor: pointer;
    }

    .toggle .off {
        opacity: 1;
    }

    .input-check:checked ~ .toggle .off {
        transform: translate(-0.8rem, 4.2rem);
        opacity: 0;
    }

    .toggle .on {
        opacity: 0;
    }

    .input-check:checked ~ .toggle .on {
        transform: translate(-0.8rem, 4.2rem);
        opacity: 1;
        color: $neon-primary;
        text-shadow: 0 0 1rem $neon-primary, 0 0 2rem $neon-primary, 0 0 3rem $neon-primary,
            0 0 4rem $neon-primary;
    }

    .input-check {
        position: absolute;
        right: -5rem;
        z-index: 1;
        opacity: 0;
    }

    .input-check:checked ~ .toggle::after {
        top: 4.7rem;
    }

    .input-box input {
        transition: 0.5s ease;
        width: 100%;
        color: $text-primary;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $text-primary;
    }

    .input-box input:focus {
        color: $text-primary;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $text-primary;
        outline: none;
    }

    .input-check:checked ~ .input-box input {
        color: $neon-primary;
        text-shadow: 0 0 0.5rem $neon-primary;
    }

    .input-box label {
        transition: 0.5s ease;
        text-align: start;
        transform: translate(0rem, -2.5rem);
        margin-top: 0.5rem;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label,
    .input-box input:user-invalid ~ label {
        transition: 0.5s ease;
        transform: translate(0rem, -3.7rem);
    }

    .input-check:checked ~ .input-box label {
        color: $neon-primary;
        text-shadow: 0 0 0.5rem $neon-primary;
    }

    .input-box i {
        transition: 0.5s ease;
        position: absolute;
        right: 3rem;
        font-size: large;
    }

    .input-box:hover i {
        transform: scale(120%);
    }

    a,
    p,
    input,
    label {
        transition: 0.5s ease;
        color: $text-primary;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .bold {
        font-weight: bold;
    }

    .input-check:checked ~ .remember-forgot label,
    .input-check:checked ~ .remember-forgot a,
    .input-check:checked ~ .register p,
    .input-check:checked ~ .register p a,
    .input-check:checked ~ .input-box i {
        color: $neon-primary;
        text-shadow: 0 0 0.5rem $neon-primary;
    }

    .btn {
        transition: 0.5s ease;
        color: black;
        width: 100%;
        margin: 1rem 0rem;
    }

    .input-check:checked ~ .btn {
        color: black;
        background-color: $neon-primary;
        text-shadow: 0 0 0.5rem $neon-primary;
        box-shadow: 0 0 1rem $neon-primary;
    }

    h2 {
        transition: 0.5s ease;
        font-size: 2rem;
        color: $text-primary;
        font-weight: bold;
    }

    .input-check:checked ~ h2 {
        color: $neon-primary;
        text-shadow: 0 0 1rem $neon-primary, 0 0 2rem $neon-primary;
    }
}

/* === end of section === */
/* === start of function === */

/* === end of function === */
